************************************************************

This skillet renders a simple Template. The values shown below
can be captured from previous skillets.

Hostname is {{ hostname }}

Uptime is {{ uptime }}

Software Version is {{ sw_version }}


************************************************************