#!/bin/bash

########################################################################################################################
#
# Update Panhandler Tool
#
# This script should be copied to your host and run as a user that has privileges to manage docker containers
#
# Use a text editor to create the script file. Copy this content into the script
# vi update_panhandler.sh
#
# make the script executable
# chmod +x ./update_panhandler.sh
#
# Execute this script
# ./update_panhandler.sh
#
########################################################################################################################


# set default values
{%- if image_tag is defined %}
DEFAULT_IMAGE_TAG={{ image_tag }}
{% else %}
DEFAULT_IMAGE_TAG=latest
{% endif -%}
{%- if listen_port is defined %}
DEFAULT_PORT={{ listen_port }}
{% else %}
DEFAULT_PORT=8080
{% endif -%}

export PANHANDLER_IMAGE=paloaltonetworks/panhandler:${IMAGE_TAG}

echo "Checking for updates ... (This may take some time while the image downloads)"
echo " "
docker pull $PANHANDLER_IMAGE | grep 'Image is up to date'

if [ $? -eq 0 ];
 then
    echo "Panhandler:${IMAGE_TAG} is already up to date!"
    echo " "
    echo " "
    echo " "
    exit 0;
fi

{%- if reset_repositories == "true" %}
echo "Moving Panhandler data directory to backup"
echo " "
echo " "
echo " "
mv ~/.pan_cnc/panhandler ~/.pan_cnc/panhandler.backup
mkdir ~/.pan_cnc/panhandler
{% endif %}

export PANHANDLER_ID=$(docker ps | grep $PANHANDLER_IMAGE | awk '{ print $1 }')

if [ -z "$PANHANDLER_ID" ];
 then
    echo "Panhandler:${IMAGE_TAG} is not currently running"
    echo " "
else
    echo "Stopping Panhandler container"
    echo " "
    docker stop $PANHANDLER_ID

    echo "Removing old Panhandler container"
    echo " "
    docker rm -f $PANHANDLER_ID
fi

echo "Creating and running new Panhandler container"
echo " "
docker run -p ${DEFAULT_PORT}:80 -t -v $HOME:/root -d $PANHANDLER_IMAGE
echo " "
echo " "
echo " "
echo "You may now use Panhandler by opening a web browser and browsing to http://localhost:${DEFAULT_PORT}"
echo " "
echo " "
echo " "
